CQRS-ES/CQRS.Core/obj/
SM-Post/Post.Cmd/Post.Cmd.Api/bin/
SM-Post/Post.Cmd/Post.Cmd.Api/obj/
SM-Post/Post.Cmd/Post.Cmd.Domain/bin/
SM-Post/Post.Cmd/Post.Cmd.Domain/obj/
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/
SM-Post/Post.Common/bin/
SM-Post/Post.Common/obj/
SM-Post/Post.Query/Post.Query.Api/bin/
SM-Post/Post.Query/Post.Query.Api/obj/
SM-Post/Post.Query/Post.Query.Domain/bin/
SM-Post/Post.Query/Post.Query.Domain/obj/
SM-Post/Post.Query/Post.Query.Infrastructure/bin/
SM-Post/Post.Query/Post.Query.Infrastructure/obj/
CQRS-ES/CQRS.Core/bin/
SM-Post/bin/
SM-Post/CQRS-ES/CQRS.Core/obj/
SM-Post/obj/
SM-Post/.vs/
SM-Post/CQRS-ES/CQRS.Core/bin/
.$Architecture+Overview.drawio.bkp
